@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="submit"] {
  cursor: pointer;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Repetitive styles */

/* Single function styling */
/* Focus state */
.focus {
  @apply focus:outline-none focus-visible:ring-2 focus:ring-neutral-900;
}

/* Hover state */
.hover-opacity {
  @apply hover:opacity-80 transition-opacity;
}

.hover-amber-color {
  @apply hover:bg-amber-500 transition-colors;
}

.hover-undeline {
  @apply hover:underline transition-all;
}

/* Text */
.dark-text {
  @apply dark:text-neutral-900;
}

.title {
  @apply font-bold text-4xl lg:text-5xl text-center;
}

.subtitle {
  @apply font-bold text-3xl lg:text-4xl text-center w-full col-span-full;
}

.subtitle-2 {
  @apply font-semibold text-lg leading-none pb-1;
}

/* Buttons */
.standard-btn {
  @apply py-1 px-6 border-2 border-neutral-900 dark:border-neutral-50 hover:bg-neutral-900 dark:hover:bg-neutral-50 hover:text-neutral-50 dark:hover:text-neutral-900 dark:ring-neutral-50 rounded-md transition-colors;
}

.theme-btn {
  @apply absolute left-1/2 -top-5 -translate-x-1/2 bg-black dark:bg-white dark:text-neutral-900 text-neutral-50 w-20 h-10 rounded-md hover:opacity-75 focus-visible:opacity-75 dark:ring-neutral-50 transition-all;
}

/* Specific form styling */
.contact-form {
  @apply col-span-full sm:col-start-2 sm:col-span-4 lg:col-start-3 lg:col-span-2;
}

.client-auth-form {
  @apply col-span-full sm:col-start-4 sm:col-end-7 lg:sm:col-start-5;
}

/* Component styling */
/* Body */
.body {
  @apply relative bg-neutral-50 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-50 text-base;
}

/* Nav */
.nav {
  @apply sticky top-0 left-0 mx-auto py-2 px-4 bg-amber-400 z-40;
}

.menubar-btn {
  @apply flex-col gap-4 absolute right-0 left-0 top-14 bg-amber-400 shadow-xl text-center p-6 items-center lg:flex-row lg:static lg:shadow-none lg:justify-center lg:p-2 lg:w-full overflow-auto z-50;
}

.location-form-container {
  @apply w-4/5 sm:w-1/3 md:w-1/4 lg:w-1/5 flex flex-col flex-wrap p-2 lg:p-4 bg-amber-600/40 rounded-lg text-lg;
}

.location-form-select {
  @apply w-full rounded-md text-sm focus:border-transparent;
}

.form-select {
  @apply w-full border-4 border-transparent rounded-md focus:border-transparent bg-amber-400 text-black;
}

.location-form-btn {
  @apply flex flex-row w-1/2 md:h-1/3 lg:w-1/4 text-lg justify-center items-center py-1 px-12 rounded-md border-2 border-neutral-50 bg-neutral-50 shadow-md;
}

/* Index Main */
.main-offer-div {
  @apply bg-neutral-100 dark:bg-neutral-700 w-full col-span-full sm:col-start-3 sm:col-end-11 md:col-span-6 2xl:col-span-4 h-[500px] sm:h-[400px] lg:h-[300px] rounded shadow-md dark:shadow-neutral-400/10 flex flex-col lg:flex-row;
}

.main-offer-img-container {
  @apply w-full h-1/2 lg:w-1/3 lg:h-full;
}

.main-offer-img {
  @apply h-full w-full object-cover rounded-t lg:rounded-l;
}

.main-offer-info-container {
  @apply w-full h-1/2 lg:w-2/3 lg:h-full p-4 grid grid-rows-6 justify-center items-center gap-1;
}

.offer-info-location-par {
  @apply flex flex-row items-end text-sm text-neutral-600 dark:text-neutral-300;
}

.main-offer-text-container {
  @apply row-span-4 w-full h-full py-2 pr-3 overflow-auto;
}

.main-offer-btn-container {
  @apply row-span-1 w-full h-full flex flex-row items-center;
}

/* Form */
.form {
  @apply h-max w-full flex flex-col border-8 border-neutral-900 dark:border-neutral-100 p-8 rounded-md shadow-md;
}

.form-title {
  @apply text-3xl font-bold;
}

.input-container {
  @apply relative mt-9 flex flex-col;
}

.input-container-2 {
  @apply relative mt-3 flex flex-col;
}

.input {
  @apply w-full border-4 border-transparent rounded-md focus:border-transparent bg-amber-400;
}

.textarea {
  @apply w-full h-32 border-4 border-transparent rounded-md focus:border-transparent bg-amber-400 resize-y text-black placeholder:text-neutral-700 placeholder:text-sm;
}

.label {
  @apply font-semibold transition-all;
}

.peer-input {
  @apply placeholder-transparent;
}

.peer-label {
  @apply absolute -top-4 left-0 -translate-y-1/2 peer-placeholder-shown:left-4 peer-placeholder-shown:top-6 peer-placeholder-shown:text-sm peer-placeholder-shown:text-black dark:peer-placeholder-shown:text-black peer-focus:-top-4 peer-focus:left-0 dark:peer-focus:text-white;
}

.form-links-container {
  @apply flex flex-col mt-4 text-sm justify-end items-end;
}

/* Footer */
.footer {
  @apply relative px-4 py-6 bg-neutral-500 dark:bg-neutral-900 text-neutral-50 grid grid-cols-4 text-center w-full;
}

.footer-container {
  @apply h-full w-full col-span-full lg:col-span-2 flex justify-center items-center flex-col p-4;
}

.footer-container-border {
  @apply border-b-2 lg:border-r-2 lg:border-b-0 border-neutral-50/30;
}

/* Client forms */
.form-img-container {
  @apply relative w-full h-max hidden sm:flex sm:col-start-1 sm:col-end-4 lg:col-end-5 justify-center items-start;
}

.form-img {
  @apply sm:w-3/5 lg:w-1/3;
}

.form-section-container {
  @apply container col-span-full sm:col-span-6 lg:col-span-3 w-full h-max bg-neutral-200 dark:bg-neutral-900 rounded-lg p-4;
}

.form-section-title {
  @apply text-xl font-semibold bg-amber-500 py-2 rounded-md text-center dark-text;
}
